body {
  font-family: "Raleway";
  padding: 0;
  font-size: 140%;
  margin-top: 3em;
  margin-left: 0;
}
input,button {
  font-family: "Raleway";
}
* {
  margin: 0;
}
a {
  color: black;
}
b {
  font-size: 125%;
}
u {
  font-weight: bold;
}
body > div:not(#header) {
  border: 1px solid black;
  margin-left: 0.35em;
  margin-right: 0.35em;
  padding-left: 0.1em;
  padding-right: 0.1em;
  margin-bottom: 0.25em;
}
#header {
  display: flex;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 2.5em;
  background-color: gold;
  align-items: center;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
#header * {
  margin-right: 0.15em;
}
#submit table {
  width: 100%;
}
#submit td:first-child {
  width: 10em;
}
#submit input {
  font-size: 90%;
  width: 100%;
  border-top: 0px solid black;
  border-left: 0px solid black;
  border-right: 0px solid black;
  border-bottom: 2px solid lightgray;
  outline: 0;
}
#submit input:focus {
  border-bottom: 2px solid turquoise;
}
#submitButton {
  font-size: 100%;
  height: 1.3em;
  padding-top: 0;
  background-color: turquoise;
  font-weight: bold;
  border: 2px outset turquoise;
  outline: 0;
  cursor: pointer;
}
#submitButton:active {
  border: 2px inset turquoise;
}
#recently-played td:nth-child(2) {
  width: 100%;
}
#recently-played td:last-child {
  text-align: center;
}
#recently-played td:last-child a:last-child {
  font-size: 90%;
}
.star {
  color: red;
  font-weight: bold;
}
.upArrow,.downArrow {
  font-size: 100%;
  width: 3em;
  height: 1.5em;
  background-color: #ccc;
  cursor: pointer;
}
.upArrow {
  clip-path: polygon(0 100%,100% 100%,50% 0);
}
.downArrow {
  clip-path: polygon(0 0,100% 0,50% 100%);
}
.upArrow.checked {
  background-color: orange;
}
.downArrow.checked {
  background-color: #7c79fb;
}
.upArrow:hover,.downArrow:hover {
  background-color: #888;
}
.upArrow.checked:hover {
  background-color: #dd7400;
}
.downArrow.checked:hover {
  background-color: #4c49cb;
}
.upArrow:active,.downArrow:active {
  background-color: #555;
}
.upArrow.checked:active {
  background-color: #bd5400;
}
.downArrow.checked:active {
  background-color: #2c29ab;
}
.voteIndicator {
  display: flex;
  width: 3em;
  height: 2em;
  justify-content: center;
  align-items: center;
  border-radius: 1em;
  padding: 0;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  border: 1px solid black;
}
.playButton {
  display: block;
  background-color: red;
  height: 4em;
  width: 4em;
  border-radius: 1em;
  color: white;
  text-align: center;
  line-height: 4em;
  cursor: pointer;
  text-decoration: none;
}
.playButton::after {
  content: "▶";
  font-size: 1.5em;
}
